@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Leckerli+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  max-width: 100vw;
    height: auto;
    background: linear-gradient(67deg, rgba(178,181,246,1) 0%, rgba(246,246,246,1) 32%, rgba(246,246,246,1) 50%, rgba(178,181,246,1) 100%);
    background-attachment: fixed;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

html{
  scroll-behavior: smooth;
}



.wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
  }

  .wrapper div {
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
  }
  div .dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20%;
    right: 20%;
  }
  .wrapper div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
  }
  .wrapper div:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
  }
  .wrapper div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
  }
  .wrapper div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
  }
  .wrapper div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
  }
  .wrapper div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .wrapper div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
  }
  .wrapper div:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(70deg);
    }
    100% {
      transform: scale(2.3) translateY(-100px) rotate(360deg);
    }
  }




main{
    width: 100vw;
    
}

.squares1 {
    position: fixed;
    top: 20%;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.squares2 {
    display: flex;
    gap: 40px;
   position: fixed;
    bottom: 0px;
}

.squares1 div , .squares2 div{
    width: 40px;
    height: 40px;
    background-color: #131AC4;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.50);


}

.section-1{
  width: 100vw;
  height: 100vh;
}

.inner{
    max-width: 74.75rem;
    margin: 0px auto;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 60px 0px ;
}

.header h1{
    font-family: 'Leckerli One', cursive;


}

ul{
    display: flex;
    justify-content: space-between;
    max-width: 48.188rem;
    gap: 50px;
}

ul li{
    
    list-style: none;
    color: #000;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

li a{
  text-decoration: none;
  color: inherit;
}

.res{
  padding: 5px 25px;
  background-color: #e7c902;
  border-radius: 25px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.50);
  transition: padding 1s;

}

.res:hover{
  padding: 5px 30px;
}

.inner-content{
    display: flex;
    justify-content: space-between;
}

.about{
    max-width: 46.5rem;
}

.about h1:nth-child(1){
    color: #000;
    font-family: Lato;
    font-size: 75px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about h1:nth-child(2){
    color: #050982;
    font-family: Lato;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.about-p1{
    color: #000;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0;

}

.about-p{
    color: #000;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 40px 0;
}

.about button{
    width: 223px;
    height: 80px;
    border-radius: 10px;
    background: #03087B;
    color: #FFF;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    cursor: pointer;
    transition: width 0.5s;
}

.about button:hover{
  width: 225px;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 348px;
    height: 418px;
    border-radius: 239.5px;
    background: #51515269;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.50);
    
    

}

.image img{
    width: 100%;
    height: 100%;
    border-radius: 239.5px;
    border: #41404000 10px solid;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
   -8px -8px 12px 0 rgba(255, 255, 255, 0.852);
}

.imiage div{
    width: 276px;
    height: 430px;
    background: url(./Imgaes/Danish_img.jpg), lightgray 50% 50%;
    background-size:   cover;
    background-repeat:  no-repeat ;
    border-radius: 169.5px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.50);

}

.photo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.photo p{
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social-1{
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 20px;
}

.social-1 div{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.social-1 img{
  width: 100%;
  height: 100%;
}



.Projects{
    padding-top: 50px;
    max-width: 74.75rem;
    margin: 150px auto;
    border-top: #caccfb solid 5px;
}

.row{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.column1{
    display: flex;
    gap: 30px;


}
.row div img{
  border-radius: 20px;
}

.column2{
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 40%;
}


.column2>div{
  display: flex;
  gap: 30px;
}

.column2 div{

}

.column2 div:nth-child(2) {
    display: flex;
    gap: 20px;
}

.column1 img, .column2 img{
    width: 100%;
    height: 100%;
}


.Projects h1:nth-child(1){
    color: #000;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Projects h1:nth-child(2){
    color: #050982;
    font-family: Lato;
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 50px;
}



.section-2{
    width: 100vw;
    background-color: #03077b71;
    height: ;
}

.skills{
    max-width: 74.75rem;
    margin: 150px auto;

}

.skills > h1{
    color: #000;;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 50px 0;
}

.skills1{

    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.icons{
  width: 100px;
  height: 100px;
}

.skills1  img{
  width: 100%;
  height: 100%;
}


.skills1 >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.584);
    text-align: center;
    padding: 30px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.50);
}

.skills1 h1{
    color: #050982;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}



.projrct-des{
  display: flex;
  max-width: 74.75rem;
  margin: 50px auto;
}

.project-side{
  display: flex;
  justify-content: space-between;
  padding:50px ;
  margin-bottom: 30px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.50), -8px -8px 12px 0 rgba(207, 203, 203, 0.852);
  
}

.project-side img{
  width: 100%;
  height: 100%;
}

.project-side div:nth-child(1){
  max-width: 45%;
}

.project-side div:nth-child(2){
  max-width: 45%;
}

.indicator{
  max-width: 0px;
  background-color: #caccfb;
}


.project-side  p{
  color: #000;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.project-side h1{
    color: #000;
    font-family: Lato;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.project-side h4{
    color: #050982;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0;
}

.back-1{
  background: white  ;
  position: sticky;
  top: 80px ;
  height: 70vh;

}

.back-2{
  background: white ;
  flex-direction: row-reverse;
  position: sticky;
  top: 80px ;
  height: 70vh;


}

.reverse{
  
}

.par{
  width: 100vw;
  min-height: 100vh;
}


.cards{
  width: 100vw;
  background-color: #050982c1;
  min-eight: 100vh;
  
}

.visit{
  display: flex;
  gap: 20px;

}

.visit a{
  color: #050982c1;
  text-decoration: none;
  font-size: 26px;
  margin-top: 20px;
}

.stick{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: #e2d6d6a9;
}

.Contacts{
  padding-top: 50px;
  max-width: 74.75rem;
  margin: 50px auto;
  border-top: #caccfb solid 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.Contacts>h1{
justify-self:flex-start;
text-align: left;
}

.wrapper-contact{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
}

.add div:nth-child(1), .add div:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

}

.social, .social a{
  color: white;
  width: 60px;
  height: 60px;
  background-color: ;
  border-radius: 50%;
}


.form{
  min-width: 40%;
}

form{
  display: flex;
  flex-direction: column;
}

.form h1{
  font-family: Lato;
  font-size: 36px!important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cont-but{
  background-color: #03087B;
  color: white;
  padding: 10px 30px ;
  border-radius: 20px;
  border: none;
}

.Contacts h1:nth-child(1){
  color: #000;
  font-family: Lato;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Contacts h1:nth-child(2){
  color: #050982;
  font-family: Lato;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 50px;
}


input, textarea{
    width: 100%;
    height: 2.4rem!important;
    border: none;
    border-bottom: 1px solid #3893fe;
    color: #000!important;
    border-radius: 0;
    font-size: .875rem;
    background-color: transparent!important;
    margin: 0.5rem 0;
    padding: 0.5rem 0.625rem 0.5625rem;
}

textarea{
  min-height: 100px;
}

.resume{
    text-decoration: none;
    color: #000;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    padding: 20px 30px;
    background-color:  #e7c902c3;
    border-radius: 30px;
}

footer{
  text-align: center;
  padding: 30px;
  background-color: #03077b71;
}